.sideBar{
	flex: 3;
	height: calc(100vh - 50px);
	overflow-y: scroll;
	position:sticky;
	top:50px;
}
::-webkit-scrollbar{
	width: 5px;
}
::-webkit-scrollbar-track{
	background: wheat;
}
::-webkit-scrollbar-thumb{
	background: gray;
}
.sideBarWrapper{
	padding:20px;
}
.sideBarList{
	padding:0;
	margin: 0;
	list-style: none;
}
.sideBarListItem{
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.sideBarIcon{
	margin-right: 15px;
}
.sideBarButton{
	width:150px;
	border: none;
	padding:10px;
	border-radius: 5px;
	font-weight: 500;
	cursor: pointer;
}
.sideBarHr{
	margin:20px 0;
}
.sideBarFriendList{
	padding: 0;
	margin: 0;
	list-style: none;
}
.sideBarFriend{
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}
.sideBarFriendImg{
	width: 32px;
	height: 32px;
	border-radius: 50%;
	object-fit: cover;
	margin-right: 10px;
}